{% extends 'base.html.twig' %}

{% block title %}{{ 'title.log_in'|trans }}{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
           {{ 'label.you_are_logged_in_as'|trans }} {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">{{ 'action_logout'|trans}}</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">{{ 'label.please_sign_in'|trans }}</h1>
    <label for="inputEmail">{{ 'label.email'|trans }}</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    <label for="inputPassword">{{ 'label.password'|trans }}</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >
    <button class="btn btn-lg btn-primary" type="submit">
        {{ 'label.sign_in'|trans }}

    </button>
</form>
{% endblock %}
