{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.category_details'|trans({'%id%': category.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.category_details'|trans({'%id%': category.id|default('')}) }}</h1>
    {% if category is defined and category|length %}
        <table class="table">
            <tbody>
            <tr>
                <th>{{ 'label.id'|trans }}</th>
                <td>{{ category.id }}</td>
            </tr>
            <tr>
                <th>{{ 'label.title'|trans }}</th>
                <td>{{ category.title }}</td>
            </tr>
            <tr>
                <th>{{ 'label.updatedAt'|trans }}</th>
                <td>{{ category.updatedAt|format_date('long') }}</td>
            </tr>
            <tr>
                <th>{{ 'label.createdAt'|trans }}</th>
                <td>{{ category.createdAt|format_date('long') }}</td>
            </tr>

            </tbody>
        </table>

        <div class="btn btn-light">
            <a href="{{ url('app_category_edit', {id: category.id}) }}" title="{{ 'action.edit'|trans }}">
                {{ 'action.edit'|trans }}
            </a>
        </div>
        <div class="btn btn-light">
            <a href="{{ url('app_category_delete', {id: category.id}) }}" title="{{ 'action.delete'|trans }}">
                {{ 'action.delete'|trans }}
            </a>
        </div>
        <p>
        <a href="{{ url('app_category_index') }}" title="{{ 'action.back_to_list'|trans }}" class="btn btn-primary" style="margin-top:10px;">
            {{ 'action.back_to_list'|trans }}
        </a>
    </p>
    {% else %}
        <p>
            {{ 'message.record_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}